*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background: url(../img/login.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.login{
	max-width: 300px;
	margin: 200px auto;
	border: 1px solid #1c1c1c;
	padding: 50px;
	border-radius: 4px;
	border: 16px solid #353535;
	background: rgba(53, 53, 53, 0.7);
}
.login input{
	padding: 10px;
	outline: none;
	border: 0;
	border-bottom: 2px solid #fff;
	width: 90%;
	margin: 20px;
	font-size: 1em;
	background: transparent;
	color: #fff;
}

.login input::placeholder {
	color: #fff;
}
.login a{
	background: #4CAF50;
	color: #fff;
	padding: 15px 25px;
	margin: 20px auto;
	display: table;
	border-radius: 4px;
}
.login a:hover{
	cursor: pointer;
	background: #46a049;
}

.login .msg p{
	background: rgba(53, 53, 53, 0.7);
	font-size: 1.2em;
	color: #fff;
}

img{
	width: 150px;
	height: 150px;
	position: fixed;
	right: 10px;
	bottom: 10px;
}