*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
.login{
	max-width: 500px;
	margin: 100px auto;
	border: 1px solid #1c1c1c;
	padding: 50px;
	border-radius: 4px;
}
.login input{
	padding: 10px;
	outline: none;
	border: 0;
	border-bottom: 1px solid #1c1c1c;
	width: 90%;
	margin: 20px;
	font-size: 1em;
}
.login a{
	background-color: #4CAF50;
	color: #fff;
	padding: 15px 25px;
	margin: 20px auto;
	display: table;
	border-radius: 4px;
}
.login a:hover{
	cursor: pointer;
	background: #46a049;
}